{
  parser: "babel-eslint",
  extends: "airbnb-base",
  plugins: [
    'html'
  ],
  rules: {
  	'comma-dangle': ['error',
      {
  		arrays: 'never',
  		objects: 'never',
  		imports: 'never',
  		exports: 'never',
  		functions: 'never'
      }
    ],
    'no-param-reassign': 'off',
    'no-shadow': ['error',
      {
      'allow': ['state'
        ]
      }
    ],
    'no-confusing-arrow': 'off',
    'no-mixed-operators': 'off',
    'max-len': 'off',
    'no-undef': 'off',
    'no-unused-vars': 'off',
    'import/no-unresolved': 'off',
    'import/extensions': 'off',
    'import/no-extraneous-dependencies': 'off',
    'no-plusplus': 'off',
    'no-underscore-dangle': 'off',
    'arrow-body-style': 'off',
    'no-loop-func': 'off'
  }
}